*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 8%;
    padding-right: 10%;
  }
  
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px; 
  }
  
  
  nav ul li a{
    color: black;
    text-decoration: none;
    text-transform: capitalize; 
    font-family: Montserrat; 
    font-weight: bold;  
  }
  nav ul li a:hover{
    color:rgb(123,50,156);
  }
  
  .hero1{
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(123,50,156);
  }
   
  .search-course{
      position: relative;
      display: block;
      padding: 0.6rem 1.2rem;
      width: 70%;
      margin-left: 16%;
      line-height: 2;
      outline: none;
      border: none;
      border-bottom: 0.2rem solid #c5c5c5;
      margin-top: 5rem;
      margin-bottom: 2rem;
      font-size: 20px;
  }
  